---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
// import FormattedDate from "../../components/FormattedDate.astro";
import HomeLayout from "../../layouts/HomeLayout.astro";
import { Link } from "@radix-ui/themes";

const posts = (await getCollection("blog")).sort((a, b) => {
  return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
});

const cat = new Map();
posts.forEach((v) => {
  const [year] = v.id.split("/");
  if (cat.has(year)) {
    cat.get(year).push(v);
  } else {
    cat.set(year, [v]);
  }
});
---

<HomeLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  {
    [...cat.keys()].map((k) => {
      return (
        <section class="py-8">
          <h2 class="text-2xl">{k}</h2>
          {cat.has(k) &&
            cat.get(k).map((post) => {
              return (
                <ul>
                  <li>
                    <Link href={`/blog/${post.id}`}>{post.data.title}</Link>
                  </li>
                </ul>
              );
            })}
        </section>
      );
    })
  }
</HomeLayout>
